
  <p>Songs sort order: <%= preferences.song_sort_order %></p>
  <p>Artists sort order: <%= preferences.artist_sort_order %></p>
  <p>Can create artists: <%= preferences.allow_create_artists %></p>
  <p>Can create songs: <%= preferences.allow_create_songs %></p>
